altgraph==0.17
appdirs==1.4.4
branca==0.4.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
folium==0.11.0
idna==2.10
ipython-genutils==0.2.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
MetPy==0.12.2
numpy==1.19.2
packaging==20.4
pandas==1.1.2
Pillow==7.2.0
Pint==0.16.1
pooch==1.2.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyparsing==2.4.7
pyserial==3.4
pyside-material==1.16
PySide2==5.15.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.2
shiboken2==5.15.1
six==1.15.0
tephi==0.2.4
traitlets==5.0.4
urllib3==1.25.10
xarray==0.16.1
